@import "tailwindcss";
@source "../src";

/* Adding a custom dark background for our elite aesthetic */
body {
  background-color: #0f172a; 
  color: #f8fafc; 
  margin: 0;
  font-family: 'Inter', sans-serif;
}
* {
  cursor: none !important;
}